<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>List Tags By User</title>
</head>
<body>
	<h1>List Tags By User</h1>
	<form method="POST" action="http://fapws.app.allcity.com/user/tag/read/">
		<table>
			<tr>
				<td width="100">Username:</td> <td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td width="100">Offset:</td> <td><input type="text" name="offset" value="0" /></td>
			</tr>
			<tr>
				<td width="100">Limit:</td> <td><input type="text" name="limit" value="25" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td><td><input type="submit" />
			</tr>
		</table>
	</form>
</body>
</html>