<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Publish Tag</title>
</head>
<body>
	<h1>Publish Tag</h1>
	<form method="POST" action="/tag/create/" enctype="multipart/form-data">
		<table>
			<tr>
				<td width="100">Username:</td> <td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td width="100">Password:</td> <td><input type="text" name="password" maxlength="12" /></td>
			</tr>
			<tr>
				<td width="100">Latitude:</td> <td><input type="text" name="latitude" /></td>
			</tr>
			<tr>
				<td width="100">Longitude:</td> <td><input type="text" name="longitude" /></td>
			</tr>
			<tr>
				<td width="100">Orientation:</td> <td><input type="text" name="orientation" /></td>
			</tr>
			<tr>
				<td width="100">Photo:</td> <td><input type="file" name="tagPhoto" /></td>
			</tr>
			<tr>
				<td width="100">Thumbnail:</td> <td><input type="file" name="tagPhotoThumb" /></td>
			</tr>
			<tr>
				<td width="100">File Type:</td> <td><input type="text" name="filetype" value="png" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td><td><input type="submit" />
			</tr>
		</table>
	</form>
</body>
</html>