<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Unregister</title>
</head>
<body>
	<h1>Unregister</h1>
	<form method="POST" action="http://fapws.app.allcity.com/registration/delete/">
		<table>
			<tr>
				<td width="100">Username:</td> <td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td width="100">Email:</td> <td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td width="100">Password:</td> <td><input type="text" name="password" maxlength="12" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td><td><input type="submit" />
			</tr>
		</table>
	</form>
</body>
</html>